{% extends "mpesaApp/baseall.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="GET">
            {% csrf_token %}         
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Query Payment and Confirm Payment</legend>
                {{ form|crispy }}         
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary"  type="submit">Query</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="portal">
                <div class="portal-info">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th>ID</th> 
                            <th>MerchantRequestID</th>
                            <th>CheckoutRequestID</th>
                            <th>Amount</th>
                            <th>MpesaReceiptNumber</th>
                            <th>TransactionDate</th>
                            <th>PhoneNumber</th>
                            <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>	
                            {% for mpesa_payments in query %}
                            <tr>
                                <td class="text-left">{{ mpesa_payments.id }}</td>							
                                <td class="text-left">{{ mpesa_payments.MerchantRequestID }}</td>
                                <td class="text-left">{{ mpesa_payments.CheckoutRequestID }}</td>	
                                <td class="text-left">{{ mpesa_payments.Amount }}</td>	
                                <td class="text-left">{{ mpesa_payments.MpesaReceiptNumber }}</td>	
                                <td class="text-left">{{ mpesa_payments.TransactionDate }}</td>	
                                <td class="text-left">{{ mpesa_payments.PhoneNumber }}</td>	
                                <td class="text-left">{{ mpesa_payments.Status }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>    
            </div>
        </div>       
    </div> 
    <!-- <form action="{% url 'mpesaApp-update' %}" method="POST">
        {% csrf_token %}
        <div class="form-group row justify-content-center">
            <button class="btn btn-primary" type="submit">Confrim Payment</button>
        </div>
    </form> -->
{% endblock content %}
